<!DOCTYPE html>
<html lang='ko'>
  <head>
    <meta charset="utf-8">
    <title>Email Check</title>
    <link rel="stylesheet" type="text/css" href="/css/master.css">
  </head>
  <body>
    <div id="infoTxt">
      <b><%= name %></b>님 <b><%= university %></b> 이메일 인증이 완료되었습니다. <br />
      어플리케이션 안에서 확인버튼을 눌러주세요!
    </div>
  </body>
</html>
